@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/*establezco los resets de mi app y las variables de los colores*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Changa", sans-serif; */
}

:root{
  --colorDeFondo : #f4f2ee;
  --colorDeNav : #ffff;
  --colorDeCard : #ffff;
  --colorBoton: #6a6e6d;
}

